* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  background-color: inherit;
}

.raleway-semi-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #09212a;

  .content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    max-width: 1920px;
    background-color: #09212a;

    img {
      height: 70px;
      margin-left: 10%;
    }
  }
}

/* Main Content of Website */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06171e;

  .content {
    width: 100%;
    min-height: 100vh;
    max-width: 1920px;

    padding: 10% 5%;
  }

  h1 {
    text-align: center;
    font-size: 45px;
    color: #ffffff;
  }

  .photos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    gap: 1%;

    a {
      height: 180px;
      width: 180px;
      margin-top: 2%;
    }

    a:hover {
      transform: scale(1.1);
      transition: ease 2s;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .img-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 500px;
    width: 450px;
    color: #ffffff;
    background-color: #09212a;
    border: none;
    border-radius: 20px;

    button {
      border: none;
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 5px 40px;

      h2 {
        text-transform: capitalize;
      }

      img {
        cursor: pointer;
        padding: 15px;
        border-radius: 50%;
      }

      img:hover {
        background-color: #124658;
      }

      img:active {
        background-color: #0d3240;
      }
    }

    figure {
      width: 400px;
      height: 300px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      gap: 30px;

      .left-arrow {
        transform: rotate(180deg);
      }

      img {
        padding: 15px;
        border-radius: 50%;
        cursor: pointer;
      }

      img:hover {
        background-color: #1f1e23;
      }

      img:active {
        background-color: #372528;
      }
    }
  }

  .dialog-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06171e;
  background-image: url("./img/footer-background.png");
  background-size: cover;
  background-position-x: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    max-width: 1920px;
    background-color: transparent;

    img {
      height: 50px;
      background-color: transparent;
    }

    p {
      margin: 1% 0 0 0;
      color: white;
      background-color: transparent;
    }
  }
}

/* responsive for width less than 1280px */
@media (max-width: 1280px) {
  header {
    .content {
      height: 120px;
      img {
        height: 40px;
      }
    }
  }

  main {
    h1 {
      font-size: 40px;
    }
    .photos {
      a {
        width: 150px;
        height: 150px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  footer {
    .content {
      p {
        font-size: 16px;
      }

      img {
        height: 30px;
      }
    }
  }
}

/* responsive for width less than 768px */
@media (max-width: 768px) {
  main {
    h1 {
      font-size: 25px;
    }

    .photos {
      a {
        height: 120px;
        width: 120px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .img-dialog {
      height: 300px;
      width: 300px;
      top: 50%;
      gap: 5px;

      header {
        padding: 5px 10px;
        h2 {
          font-size: 16px;
        }
      }

      header,
      footer {
        width: 280px;

        img {
          padding: 5px;
          width: 20px;
        }

        p {
          font-size: 16px;
        }
      }

      figure {
        height: 210px;
        width: 265px;

        img {
          height: 200px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

/* Dialog fixed position for width less than 500px */
@media (max-width: 500px) {
  main {
    .img-dialog {
      position: fixed;
    }
  }
}
