* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
  background-color: inherit;
  font-size: inherit;
}

.raleway-semi-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 100%;
    height: 150px;
    max-width: 1920px;
    background-color: #09212a;

    display: flex;
    align-items: center;

    img {
      height: 70px;
      margin-left: 5%;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 100%;
    max-width: 1440px;
    background-color: #060606;
    padding: 10% 0;
  }

  h1 {
    color: #ffffff;
    text-align: center;
    font-size: 45px;
  }

  .photos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    gap: 1%;

    img {
      margin-top: 3%;
      width: 180px;
      height: 180px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  #dialog1 {
    height: 500px;
    width: 450px;
    color: #ffffff;
    background-color: #09212a;
    border: none;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
      border: none;
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 5px 40px;

      h2 {
        text-transform: capitalize;
      }

      img {
        cursor: pointer;
        padding: 15px;
        border-radius: 50%;
      }

      img:hover {
        background-color: #124658;
      }

      img:active {
        background-color: #0d3240;
      }
    }

    figure {
      width: 400px;
      height: 300px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      .left-arrow {
        transform: rotate(180deg);
      }

      img {
        padding: 15px;
        border-radius: 50%;
        cursor: pointer;
      }

      img:hover {
        background-color: #1f1e23;
      }

      img:active {
        background-color: #372528;
      }
    }
  }

  .dialog-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 100%;
    height: 150px;
    max-width: 1920px;
    background-color: #060606;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("./img/footer-background.png");
    background-size: cover;
    background-position: center;

    img {
      height: 50px;
      background-color: transparent;
    }

    p {
      margin: 1% 0 0 0;
      color: white;
      background-color: transparent;
    }
  }
}

@media (max-width: 1280px) {
  header {
    .content {
      height: 120px;
      img {
        height: 40px;
      }
    }
  }

  main {
    h1 {
      font-size: 40px;
    }
    .photos {
      img {
        width: 150px;
        height: 150px;
      }
    }
  }

  footer {
    .content {
      p {
        font-size: 14px;
      }

      img {
        height: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    h1 {
      font-size: 25px;
    }

    .photos {
      img {
        width: 120px;
        height: 120px;
      }
    }

    #dialog1 {
      height: 300px;
      width: 300px;
      top: 50%;
      gap: 5px;

      header {
        padding: 10px;
        h2 {
          font-size: 14px;
        }
      }

      header,
      footer {
        width: 250px;

        img {
          padding: 5px;
          width: 25px;
        }

        p {
          font-size: 14px;
        }
      }

      figure {
        height: 250px;
        width: 250px;

        img {
          height: 200px;

          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  main {
    #dialog1 {
      position: fixed;
    }
  }
}
