* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
  background-color: inherit;
  font-size: inherit;
}

.raleway-semi-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 100%;
    height: 150px;
    max-width: 1920px;
    background-color: #09212a;

    display: flex;
    align-items: center;

    img {
      height: 70px;
      margin-left: 5%;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 100%;
    max-width: 1440px;
    background-color: #060606;
    padding: 10% 0;
  }

  h1 {
    color: #ffffff;
    text-align: center;
    font-size: 45px;
  }

  .photos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    gap: 1%;

    img {
      margin-top: 3%;
      width: 180px;
      height: 180px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .dialog-hidden {
    display: none;
  }

  .dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    color: #ffffff;
    background-color: #09212a;
    padding: 3%;
    border-radius: 10%;
    height: 500px;
    width: 500px;

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .dialog-head,
  .dialog-footer {
    width: 400px;
  }

  .dialog > img {
    height: 350px;
    width: 350px;
    object-fit: cover;
  }

  .dialog-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    font-size: 14px;
    text-transform: capitalize;
    img {
      cursor: pointer;
      padding: 15px;
      border-radius: 50%;
    }

    img:hover {
      background-color: #124658;
    }

    img:active {
      background-color: #0d3240;
    }
  }

  .dialog-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;

    .rotate-180 {
      transform: rotateY(180deg);
    }

    img {
      padding: 15px;
      border-radius: 50%;
      cursor: pointer;
    }

    img:hover {
      background-color: #1f1e23;
    }

    img:active {
      background-color: #372528;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 100%;
    height: 150px;
    max-width: 1920px;
    background-color: #060606;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("./img/footer-background.png");
    background-size: cover;
    background-position: center;

    img {
      height: 50px;
      background-color: transparent;
    }

    p {
      margin: 1% 0 0 0;
      color: white;
      background-color: transparent;
    }
  }
}

@media (max-width: 1280px) {
  header {
    .content {
      height: 120px;
      img {
        height: 40px;
      }
    }
  }

  main {
    h1 {
      font-size: 40px;
    }
  }
}

@media (max-width: 768px) {
  main {
    h1 {
      font-size: 25px;
    }

    .dialog {
      height: 300px;
      width: 300px;
      top: 50%;
      gap: 5px;

      .dialog-head,
      .dialog-footer {
        width: 250px;
      }
    }

    .dialog > img {
      height: 250px;
      width: 280px;
    }
  }

  footer {
    .content {
      p {
        font-size: 14px;
      }

      img {
        height: 30px;
      }
    }
  }
}

@media (max-width: 500px) {
  main {
    .dialog {
      position: fixed;
     
    }
  }
}
